<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ECommerce">
	<listeners>
		<listener
			class-name="com.murali.automation.AutoFramework.utils.Listeners"></listener>
	</listeners>

	<test thread-count="5" name="Smoke">
		<classes>
			<class
				name="com.murali.automation.AutoFramework.tests.SmokeTests" />
		</classes>
	</test> <!-- Smoke -->
</suite> <!-- ECommerce -->
